.container {
  width: 1144px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

section {
  padding-top: 200px;
}

button {
  background: transparent;
  border: none;
}

section {
  padding-top: 100px;
}